# ** IPL 2023 Winning Prediction üèÜ **



<img src = 'https://www.insidesport.in/wp-content/uploads/2022/01/eng-banner-2.jpg'>

## Let's Build the Winning Prediction Model Now

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns',None)

/tmp/ipykernel_16940/2259638228.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
matches = pd.read_csv('/workspaces/IPL-2023-Victory-Analysis-with-Prediction/Dataset/IPL_Matches_2008_2022.csv')
balls = pd.read_csv('/workspaces/IPL-2023-Victory-Analysis-with-Prediction/Dataset/IPL_Ball_by_Ball_2008_2022.csv')

In [3]:
inningScores = balls.groupby(['ID', 'innings']).sum()['total_run'].reset_index()
inningScores = inningScores[inningScores['innings']==1]
inningScores.head(10)

        ID  innings  total_run
0   335982        1        222
2   335983        1        240
4   335984        1        129
6   335985        1        165
8   335986        1        110
10  335987        1        166
12  335988        1        142
14  335989        1        208
16  335990        1        214
18  335991        1        182

In [ ]:
inningScores['target'] = inningScores['total_run'] + 1
inningScores.head(10)

In [ ]:
matches = matches.merge(inningScores[['ID','target']], on='ID')